<?xml version="1.0" ?>
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://store-eu-par-1.gofile.io/download/f20bdc31-3f35-4e13-94da-b08328357e0e/MOD%20VIP%20IOS.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string>https://raw.githubusercontent.com/nookc01/GAME-HACK/main/icon57.png</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>url</key>
            <string>https://raw.githubusercontent.com/nookc01/GAME-HACK/main/icon512.png</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.mod.vip</string>
          <key>bundle-version</key>
          <string>1.0</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>MOD VIP IOS</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
